body{

    background-color: white;
    margin: 0;
    padding: 0;

}

#simulation{

    height: 91vh;
    width: 98.5vw;
    /*margin-top: 10vh;
    margin-left: 2vw;*/
    padding: 0;
    background-color: cyan;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border-width: 0px;
}

.graph{

    height: 12vh;
    width: 10vw;
    position: absolute;
    /*margin-top: 10vh;
    margin-left: 2vw;*/
    padding: 0;
    background-color: cyan;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    border-width: 0px;
    opacity: 0.3;

}
.value{

    position: absolute;
    /*margin-top: 53vh;
    margin-left: 4vw;*/
    font-size: 100%;

}

#population{

    top:10vh;
    left: 88vw;

}
#populationValue{

    
    top: 22vh;
    left: 88vw;

}

#hunger{

    top: 27vh;
    left: 88vw;

}
#hungerValue{

    top: 39vh;
    left: 88vw;

}

#genderMale{

    top: 44vh;
    left: 88vw;

}
#genderFemale{

    top: 47vh;
    left: 88vw;

}

#fruitSpawnRate{

    position: absolute;
    top: 52vh;
    left: 90vw;
    width: 3vw;

}
#fruitSpawnRateValue{

    position: absolute;
    top:  56vh;
    left: 86vw;

}

button.btn{

    background-color: #dddddd;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;

}

#addSquare{

    position: absolute;
    top:  62vh;
    left: 88vw;

}
#pause{

    position: absolute;
    top:  62vh;
    left: 92vw;

}

#maxHunger{

    bottom: 7vh;
    left: 1vw;

}
#maxHungerValue{

    bottom: 2vh;
    left: 1.5vw;

}

#speed{

    bottom: 7vh;
    left: 12vw;

}
#speedValue{

    bottom: 2vh;
    left: 12.5vw;

}

#range{

    bottom: 7vh;
    left: 23vw;

}
#rangeValue{

    bottom: 2vh;
    left: 23.5vw;

}

#minHunger{

    bottom: 7vh;
    left: 34vw;

}
#minHungerValue{

    bottom: 2vh;
    left: 34.5vw;

}

